# Malcolm DevSecOps Automation Environment Variables

# The absolute path to your local CISA Malcolm 'pcap' ingestion directory.
# If using the standard Docker setup, this is usually the 'pcap' folder inside the Malcolm directory.
MALCOLM_PCAP_DIR=